examples/TimestampMeasuringFlow.json
[{"id":"704bb737.12369","type":"rate","z":"e4f2d114.92c87","name":"","inputField":"payload","inputFieldType":"msg","outputField":"rate","outputFieldType":"msg","timestampField":"","timestampFieldType":"now","ratePeriod":"1000","x":610,"y":240,"wires":[["6c2fcfe1.3b1808","e7703b87.cb4c"]]},{"id":"dfb476d3.40188","type":"inject","z":"e4f2d114.92c87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":240,"wires":[["704bb737.12369"]]},{"id":"6c2fcfe1.3b1808","type":"debug","z":"e4f2d114.92c87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"rate","targetType":"msg","x":810,"y":240,"wires":[]},{"id":"e7703b87.cb4c","type":"debug","z":"e4f2d114.92c87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":790,"y":180,"wires":[]}]
