examples/ValueMeasuringFlow.json
[{"id":"ff0f0e81.89655","type":"rate","z":"e4f2d114.92c87","name":"","inputField":"payload","inputFieldType":"msg","outputField":"rate","outputFieldType":"msg","timestampField":"","timestampFieldType":"now","ratePeriod":"1000","x":1610,"y":240,"wires":[["e37023d.df43c6","c4d30aec.801898"]]},{"id":"e37023d.df43c6","type":"debug","z":"e4f2d114.92c87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"rate","targetType":"msg","x":1830,"y":240,"wires":[]},{"id":"c4d30aec.801898","type":"debug","z":"e4f2d114.92c87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1810,"y":180,"wires":[]},{"id":"55b4d3d5.77305c","type":"inject","z":"e4f2d114.92c87","name":"","topic":"","payload":"-10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1370,"y":200,"wires":[["ff0f0e81.89655"]]},{"id":"8266cce.4d6eab","type":"inject","z":"e4f2d114.92c87","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1370,"y":240,"wires":[["ff0f0e81.89655"]]},{"id":"96da2b61.abc24","type":"inject","z":"e4f2d114.92c87","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1370,"y":280,"wires":[["ff0f0e81.89655"]]}]
